@model LaFiesta.ViewModels.Create.CreateTicketViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>New Ticket</h1>

<h4>Create a new ticket</h4>

<form asp-action="Create">
    <div class="row mt-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Soort">@Html.DisplayNameFor(model => this.Model.Soort):</label>
                <br />
                <input asp-for="Soort" class="form-control" />
                <span asp-validation-for="Soort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aantal">@Html.DisplayNameFor(model => this.Model.Aantal):</label>
                <br />
                <input asp-for="Aantal" class="form-control" />
                <span asp-validation-for="Aantal" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Datum">@Html.DisplayNameFor(model => this.Model.Datum):</label>
                <input type="date" asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs">@Html.DisplayNameFor(model => this.Model.Prijs):</label>
                <br />
                <input asp-for="Prijs" type="double" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group ml-2">
            <input type="submit" value="Create" class="btn" style="background-color: #FF729F; color: white;" />
            <a asp-action="Index" class="btn" style="background-color: #FF729F; color: white;">Terug naar lijst</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
